<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/UserLayout}">

<section class="list" layout:fragment="content">

    <script th:inline="javascript">
        window.onload = function (){
            if([[${param.cate}]] != null){
                const paramCate = parseInt([[${param.cate}]]);
                const cateMap = document.getElementById('cate');

                const cateList = [[${cate}]];

                if (paramCate % 100 !== 0){
                    const typeA = cateList[Math.floor(paramCate/10000)-1].cname;
                    const typeB = cateList[Math.floor(paramCate/10000)-1].children[Math.floor((paramCate % 10000)/100)-1].cname;
                    const typeC = cateList[Math.floor(paramCate/10000)-1].children[Math.floor((paramCate % 10000)/100)-1].children[Math.floor((paramCate % 100))-1].cname;
                    const span = document.createElement('span');
                    span.innerText = typeA;
                    cateMap.appendChild(span);
                    cateMap.innerText += " > ";
                    span.innerText = typeB;
                    cateMap.appendChild(span);
                    cateMap.innerText += " > ";
                    span.innerText = typeC;
                    cateMap.appendChild(span);

                }else if(paramCate % 10000 !== 0){
                    const typeA = cateList[Math.floor(paramCate/10000)-1].cname;
                    const typeB = cateList[Math.floor(paramCate/10000)-1].children[Math.floor((paramCate % 10000)/100)-1].cname;
                    const span = document.createElement('span');
                    span.innerText = typeA;
                    cateMap.appendChild(span);
                    cateMap.innerText += " > ";
                    span.innerText = typeB;
                    cateMap.appendChild(span);
                }else{
                    const typeA = cateList[Math.floor(paramCate/10000)-1].cname;
                    const span = document.createElement('span');
                    span.innerText = typeA;
                    cateMap.appendChild(span);
                }
            }
        }
    </script>
    <!-- 제목, 페이지 네비게이션 -->
    <nav>
        <h1>상품목록</h1>
        <p id="cate">HOME >  </p>
    </nav>

    <!-- 검색결과 그룹박스(검색 있을때만 출력하게) -->
    <div th:if="${search != null and search != '' and not #lists.isEmpty(page)}" class="group">
        <h3><strong>검색결과</strong> <em>(총&nbsp;:&nbsp;<span th:text="${page.totalElements}"></span>&nbsp;건)</em></h3>
        <form action="#" th:action="@{/product/search}" method="get">
            <input type="text" name="search" th:value="${search}" placeholder="검색어를 입력하세요"/>
            <input type="submit" value="검색"/>
            <span>
            <label><input type="checkbox" name="chk" value="상품명" checked>상품명</label>
            <label><input type="checkbox" name="chk" value="상품설명">상품설명</label>
            <label><input type="checkbox" name="chk" value="상품가격">상품가격</label>
            <input type="text" name="min" placeholder="최소 가격"/>원&nbsp;~&nbsp;<input type="text" name="max"
                                                                                    placeholder="최대 가격"/>원
        </span>
        </form>
        <p class="info">
            상세검색을 선택하지 않거나, 상품가격을 입력하지 않으면 현재 결과내에서 검색합니다.<br>
            검색어는 최대 10글자까지, 여러 개의 검색어를 공백으로 구분하여 입력할 수 있습니다.
        </p>
    </div>

    <!-- 정렬 메뉴 -->
    <ul class="sort">
        <li><a th:href="@{/product/list(list='?', order='desc')}">판매많은순</a></li> <!--order 많은순-->
        <li><a th:href="@{/product/list(list='price', order='asc')}">낮은가격순</a></li>
        <li><a th:href="@{/product/list(list='price', order='desc')}">높은가격순</a></li>
        <li><a th:href="@{/product/list(list='?', order='desc')}">평점높은순</a></li> <!--별점 높은순-->
        <li><a th:href="@{/product/list(list='?', order='desc')}">후기많은순</a></li> <!--review 많은순-->
        <li><a th:href="@{/product/list(list='rdate', order='desc')}">최근등록순</a></li>
    </ul>


    <!-- 상품목록 -->
    <table border="0">
        <tr th:each="product : ${products}">
            <td>
                <a th:href="@{/product/view(pno=${product.pno})}" class="thumb">
                    <img th:src="@{|/product/${product.cate}/${product.mainimg}|}" alt="상품이미지">
                </a>
            </td>
            <td>
                <h3 class="name" th:text="${product.pname}">상품명</h3>
                <a th:href="@{/product/view(pno=${product.pno})}" class="desc" th:text="${product.info}">상품설명</a>
            </td>
            <td>
                <ul>
                    <li>
                        <!-- 할인된 가격을 계산하고 콤마 포맷을 적용합니다. -->
                        <ins class="dis-price"
                             th:text="${#numbers.formatInteger((product.price * (1 - product.discount / 100.0)), 3, 'COMMA')}">
                            할인된 가격
                        </ins>
                    </li>
                    <li>
                        <!-- 원래 가격에 콤마 포맷을 적용합니다. -->
                        <del class="org-price" th:text="${#numbers.formatInteger(product.price, 3, 'COMMA')}">
                            30,000
                        </del>
                        <!-- 할인율 -->
                        <span class="discount" th:text="${product.discount + '%'}">10%</span>
                    </li>
                    <li>
                        <!-- 무료 배송 여부를 표시합니다. -->
                        <span class="free-delivery">무료배송</span>
                    </li>
                </ul>
            </td>
            <td>
                <!-- 회사 (판매자 정보) -->
                <h4 class="seller" th:text="${product.company}"><i class="fas fa-home"></i>판매자</h4>
                <!-- 판매자 등급 및 평점은 데모 데이터이며, 실제 필드가 없습니다. -->
                <h5 class="badge power">판매자등급</h5>
                <h6 class="rating star2">상품평</h6>
            </td>
        </tr>
    </table>


    <!-- 상품목록 페이지번호 -->
    <div class="paging">
        <!-- 이전 페이지 링크 -->
        <span class="prev">
        <a th:if="${result.pg > 1}"
           th:href="@{/product/list(cate=${result.cate}, pg=${result.pg - 1})}">&lt;&nbsp;이전</a>
    </span>

        <!-- 숫자 페이지 링크 -->
        <span class="num">
        <a th:each="pageNum : ${#numbers.sequence(result.start, result.end)}"
           th:href="@{/product/list(cate=${result.cate}, pg=${pageNum})}"
           th:text="${pageNum}"
           th:class="${pageNum == result.pg ? 'on' : ''}"></a>
    </span>

        <!-- 다음 페이지 링크 -->
        <span class="next">
        <a th:if="${result.pg < result.totalPage}" th:href="@{/product/list(cate=${result.cate}, pg=${result.pg + 1})}">다음&nbsp;&gt;</a>
    </span>
    </div>


</section>
</html>