<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/myLayout}">

<div class="info" layout:fragment="content">
    <script th:src="@{/js/myInfo.js}"></script>
    <ul>
        <span class="menu_else"></span>
        <li><a th:href="@{/mypage/order}">전체주문내역</a></li>
        <!--<li><a href="./favorite.html">관심상품</a></li>-->
        <li><a th:href="@{/mypage/point}">포인트내역</a></li>
        <li><a th:href="@{/mypage/coupon}">쿠폰</a></li>
        <li><a th:href="@{/mypage/review}">나의리뷰</a></li>
        <li><a th:href="@{/mypage/qna}">문의하기</a></li>
        <li><a th:href="@{/mypage/info}">나의설정</a></li>
    </ul>
    <section>
        <a href="#"><img th:src="@{/images/my_banner2.png}" alt="패션, 타운 하나로 끝" class="banner"></a>
        <article>
            <h3>회원정보 설정</h3>

            <table border="0">
                <input type="hidden" name="type" th:value="normal"/>
                <input type="hidden" name="uid" th:value="${#authentication.principal.user.uid}"/>
                <input type="hidden" name="name" th:value="${#authentication.principal.user.name}"/>
                <tr>
                    <td>사용자 ID</td>
                    <td>[[${#authentication.principal.user.uid}]]</td>
                </tr>
                <tr>
                    <td>비밀번호</td>
                    <td>
                        <button id="btnChangePass">비밀번호 수정</button>
                    </td>
                </tr>
                <tr>
                    <td>이름</td>
                    <td>[[${#authentication.principal.user.name}]]</td>
                </tr>
                <tr>
                    <td>E-mail</td>
                    <td>
                        <input type="email" id="inputEmail" name="email" th:value="${#authentication.principal.user.email}" required/>
                        <button type="button" id="btnEmailCode">인증번호 받기</button>
                        <span class="resultEmail"></span>
                        <div class="auth">
                            <input type="text" id="inputAuth" name="auth" placeholder="인증번호 입력" disabled/>
                            <button type="button" id="btnEmailAuth">확인</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>휴대폰</td>
                    <td>
                        <p class="hp">
                            <input type="text" name="hp1" th:value="${#strings.substring(user.hp, 0, 3)}"/>-
                            <input type="text" name="hp2" th:value="${#strings.substring(user.hp, 4, 8)}"/>-
                            <input type="text" name="hp3" th:value="${#strings.substring(user.hp, 9, 13)}"/>
                            <button id="btnChangeHp">수정하기</button>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>주소</td>
                    <td>
                        <input type="text" name="zip" id="inputZip" th:value="${#authentication.principal.user.zip}" placeholder="주소검색 클릭" readonly/>
                        <button type="button" id="findZip">주소검색</button>
                        <p class="address">
                            <input type="text" name="addr1" id="addr1" th:value="${#authentication.principal.user.addr1}" placeholder="주소를 검색하세요." readonly/>
                            <input type="text" name="addr2" id="addr2" th:value="${#authentication.principal.user.addr2}" placeholder="상세주소를 입력하세요."/>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>회원탈퇴</td>
                    <td>
                        <button id="btnWithdraw">탈퇴하기</button>
                    </td>
                </tr>
            </table>
            <button id="btnInfoChange">수정하기</button>
        </article>
    </section>

</div>
</html>