<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/myLayout}">

<div class="review" layout:fragment="content">
    <ul>
        <span class="menu_else"></span>
        <li><a th:href="@{/mypage/order}">전체주문내역</a></li>
        <!--<li><a href="./favorite.html">관심상품</a></li>-->
        <li><a th:href="@{/mypage/point}">포인트내역</a></li>
        <li><a th:href="@{/mypage/coupon}">쿠폰</a></li>
        <li><a th:href="@{/mypage/review}">나의리뷰</a></li>
        <li><a th:href="@{/mypage/qna}">문의하기</a></li>
        <li><a th:href="@{/mypage/info}">나의설정</a></li>
    </ul>

    <section>
        <a href="#"><img th:src="@{/images/my_banner2.png}" alt="패션, 타운 하나로 끝" class="banner"></a>
        <article>
            <h3>나의리뷰</h3>

            <table border="0">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>상품명</th>
                        <th>내용</th>
                        <th>평점</th>
                        <th>작성일</th>
                    </tr>
                    </thead>
                <tbody>
                <tr th:each="review, iterStat : ${reviews}">
                    <td class="no" th:text="${iterStat.count}">5</td>
                    <td class="prodName">
                        <a th:href="@{/product/view(pno=${review.pno})}" th:text="${review.pno}">상품명</a>
                    </td>
                    <td class="content" th:text="${review.content}">배송이 빠릅니다. 잘 사용하겠습니다.</td>
                    <td class="score">
                        <span th:classappend="'rating star' + ${review.rating}" th:text="${review.rating}">평점</span>
                    </td>
                    <td class="date" th:text="${#temporals.format(review.redate, 'yyyy-MM-dd')}">2024-12-12</td>
                </tr>
                </tbody>

            </table>
            <p class="page">
                <!-- 이전 페이지 링크 -->
                <a th:if="${result.prev}" th:href="@{/mypage/review(pg=${result.start - 1})}" class="prev">이전</a>
                <!-- 숫자 페이지 링크 -->
                <span th:each="pageNum : ${#numbers.sequence(result.start, result.end)}">
                    <a th:href="@{/mypage/review(pg=${pageNum})}" th:text="${pageNum}" th:class="${pageNum == result.pg ? 'num on' : 'num'}"></a>
                </span>
                <!-- 다음 페이지 링크 -->
                <a th:if="${result.next}" th:href="@{/mypage/review(pg=${result.end + 1})}" class="next">다음</a>
            </p>


        </article>
    </section>
</div>
</html>