<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>롯데ON::고객센터</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/css/cs.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <style>


    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(function(){
        $('.more').click(function(e){
          e.preventDefault();

          /*
          let item = $(this).parent().find('> li:nth-child(n+4)');
          let isVisible = item.is(':visible');

          console.log('isVisible : ' + isVisible);

          if(isVisible){
            item.slideUp(100);
          }else{
            item.slideDown(100);
          }
          */

        });
      });


    </script>

  </head>
  <body>
    <div id="wrapper">
      <header>
        <div class="top">
          <div>
            <p>
              <a href="./member/login.html">로그인</a>
              <a href="#">회원가입</a>
              <a href="#">마이페이지</a>
              <a href="#"
              ><i class="fa fa-shopping-cart" aria-hidden="true"></i
              >&nbsp;장바구니</a
              >
            </p>
          </div>
        </div>
        <div class="logo">
          <div>
            <a th:href="@{/cs}"><img th:src="@{/images/header_logo.png}" alt="로고" />고객센터</a>
          </div>
        </div>
      </header>

      <section id="cs">
        <div class="faq">
          <nav>
            <div>
              <p>홈<span>></span>자주묻는 질문</p>
            </div>
          </nav>
          <section class="list">
            <aside>
              <h2>자주묻는 질문</h2>
              <ul>
                <li class="on"><a href="#">회원</a></li>
                <li><a href="#">쿠폰/이벤트</a></li>
                <li><a href="#">주문/결제</a></li>
                <li><a href="#">배송</a></li>
                <li><a href="#">취소/반품/교환</a></li>
                <li><a href="#">여행/숙박/항공</a></li>
                <li><a href="#">안전거래</a></li>
              </ul>
            </aside>
            <article>
              <nav>
                <h1>회원</h1>
                <h2>가장 자주 묻는 질문입니다.</h2>
              </nav>

              <div>
                <h3>가입</h3>
                <ul>
                  <li><a href="./view.html"><span>Q.</span>개인회원과 법인회원에 차이가 있나요?</a></li>
                  <li><a href="#"><span>Q.</span>개인회원과 법인회원에 차이가 있나요?</a></li>
                  <li><a href="#"><span>Q.</span>개인회원과 법인회원에 차이가 있나요?</a></li>
                  <li><a href="#"><span>Q.</span>개인회원과 법인회원에 차이가 있나요?</a></li>
                  <li><a href="#"><span>Q.</span>개인회원과 법인회원에 차이가 있나요?</a></li>
                  <li class="more"><a href="#">더보기</a></li>
                </ul>
              </div>
              <div>
                <h3>탈퇴</h3>
                <ul>
                  <li><a href="#"><span>Q.</span>회원탈퇴 후 재가입이 가능한가요?</a></li>
                  <li><a href="#"><span>Q.</span>회원탈퇴 후 재가입이 가능한가요?</a></li>
                  <li><a href="#"><span>Q.</span>회원탈퇴 후 재가입이 가능한가요?</a></li>
                  <li><a href="#"><span>Q.</span>회원탈퇴 후 재가입이 가능한가요?</a></li>
                  <li><a href="#"><span>Q.</span>회원탈퇴 후 재가입이 가능한가요?</a></li>
                  <li class="more"><a href="#">더보기</a></li>
                </ul>
              </div>
              <div>
                <h3>회원정보</h3>
                <ul>
                  <li><a href="#"><span>Q.</span>회원정보를 수정하고 싶어요.</a></li>
                  <li><a href="#"><span>Q.</span>회원정보를 수정하고 싶어요.</a></li>
                  <li><a href="#"><span>Q.</span>회원정보를 수정하고 싶어요.</a></li>
                  <li><a href="#"><span>Q.</span>회원정보를 수정하고 싶어요.</a></li>
                  <li><a href="#"><span>Q.</span>회원정보를 수정하고 싶어요.</a></li>
                  <li class="more"><a href="#">더보기</a></li>
                </ul>
              </div>
              <div>
                <h3>로그인</h3>
                <ul>
                  <li><a href="#"><span>Q.</span>로그인에 문제가 있어요.</a></li>
                  <li><a href="#"><span>Q.</span>로그인에 문제가 있어요.</a></li>
                  <li><a href="#"><span>Q.</span>로그인에 문제가 있어요.</a></li>
                  <li><a href="#"><span>Q.</span>로그인에 문제가 있어요.</a></li>
                  <li><a href="#"><span>Q.</span>로그인에 문제가 있어요.</a></li>
                  <li class="more"><a href="#">더보기</a></li>
                </ul>
              </div>

            </article>
          </section>
        </div>
      </section>

      <footer th:replace="~{/layout/footer}">
        <!--
          푸터
        -->
      </footer>
    </div>
  </body>
</html>